[project]
name = "google-image-scraper"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "pillow>=11.0.0",
    "requests>=2.32.3",
    "selenium>=4.26.1",
]
